.burger{
    position: relative;
    cursor: pointer;
    z-index: 100;
    span{
        display: block;
        height: 2.3px;
        width: 25px;
        border-radius: 2px;
        background-color: $accent;    
        position: relative;
        transition: .2s all ease-in;
        margin-bottom: 5px;
        @include media-for (null, $tablet){
            background-color: $white;
            height: 2px;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    } 
}

.burger-active{
    span:first-child{
        transform: rotate(45deg);
        top: 7px;
    }
    span:nth-child(2n){
        opacity: 0;
        transition: .2s all ease-in;
    }
    span:last-child{
        transform: rotate(-45deg);
        top: -6px;
    }
}