.call-back{
    padding: 2rem 0;
    background-color: #FF8720;
    p{
        font-size: 18px;
        font-weight: 500;
        color: $white;
    }

}
.call-back-blue{
    background-color: #2B1FC7;
}