#menu{
    z-index:1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;
    left: 0;
    li{
        list-style:none;
        a{
            color:#fff;
            display:block;
            font-size: 32px;
            margin-bottom:30px;
            text-decoration:none;
        }
    }
    &.overlay{
        visibility: visible;
        opacity: 1;
        padding-top:100px;
        background:rgba(0,0,0,0.8);
        z-index: 100;
    }
}
  

  