.section-brands{
    padding: 10rem 0 6rem;
    .blue-link{
        text-decoration: none;
    }

    .brands{
        margin-top: 5rem;
        .brands-wrap{
            margin-bottom: 3rem;
        }
    }
}