.section-parnters{
    padding: 10rem 0 6rem;
    @include media-for (null, $tablet){
        padding: 2.5rem 0;
        h2{
            font-size: 38px;
            font-weight: 500;
        }
    }
    .blue-link{
        text-decoration: none;
    }

    .brands{
        margin-top: 5rem;
        @include media-for (null, $tablet){
            margin-top: 2rem;
        }
        .brands-wrap{
            margin-bottom: 3rem;
        }
    }
}