.testing-services{
    background: url('../images/dist/bg-net.png');
    background-position: 70% 23%;
    background-repeat: no-repeat;
    background-size: 17%;
    padding: 2rem 0;

    @include media-for (null, $tablet){
        background-position: 70% 19%;
        background-size: 34%;
    }
    
    @include media-for (null, $sm){
        background: none;
        background-color: $white
    }

    h2{
        font-size: 66px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1rem;

        @include media-for (null, $tablet){
            font-size: 38px;
            text-align: left;
        }
    }


    .slider-container{
        padding: 4rem 0 5rem;

        @include media-for (null, $tablet){
            padding: 1rem 0;
            .container{
                width: 100%;
                padding-right: 0;
            }
        }

        .swiper{
            overflow: visible;
        }
        
    }

    .services-slider{

        .slide-card{
            border: 1px solid $accent;
            border-radius: 32px;
            height: 136px;
            padding: 9px 10px;
            width: 138px;
            cursor: pointer;
            .img-wrap{
                background-color: #ffc38f;
                border-radius: 32px;
                height: 115px;
                position: relative;
                width: 116px;

                img{
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-49%,-52%);
                    width: 127%;
                }

                .slide-img-1{
                    transform: translate(-57%,-58%);
                    width: 111%;
                }

                .slide-img-6{
                    transform: translate(-43%,-54%);
                    width: 113%;
                }
            }

            h5{
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                margin-top: 1.5rem;
            }
        }
        .slide-selected{
            .img-wrap{
                background-color: $orange;
                &::before{
                    position: absolute;
                    content: '';
                    left: 50%;
                    bottom: -91%;
                    transform: translate(-50%, -50%);
                    width: 18px;
                    height: 18px;
                    background: url("../images/dist/arrow-down.svg");
                    background-size: 99%;
                    background-repeat: no-repeat;
                }
            }
        }


    }

    .info-services{
        padding: 3rem 0;
        background: url('../images/dist/bg-net.png') 38% 75%  no-repeat, $bg-gray;
        background-size: 16%;

        @include media-for (null, $tablet){
            padding: 2rem 0;
            background: none;
            background-color: $bg-gray;
        }

        .info-block{
            margin-bottom: 2rem;

            h4{
                margin-bottom: 1rem;
            }
        }

        .blue-link{
            margin-top: 1.2rem;

            &:last-child{
                text-align: center;
            }
        }

        .card-testing{
            position: relative;
            padding: .6rem .6rem .6rem 2.5rem;
            display: flex;
            justify-content: space-between;
            background-color: $white;
            box-shadow: 0px 0px 3px 0px $shadow;
            border-radius: 16px;
            margin-bottom: 2rem;

            .icon-wrap{
                position: absolute;
                left: 3%;
                top: 6%;
                transform: translate(0,0);
                width: 20px;
                height: 24px;

                img{
                    width: 100%;
                }
            }
            .left-col{
                width: 53%;
                border-right: 1px solid $accent;
                padding-right: 10px;

                h4{
                    margin-bottom: 1.5rem;
                    font-size: 20px;
                    height: 2rem;
                }
                p{
                    font-size: 14px;
                }
            }

            .right-col{
                width: 47%;
                padding: 5px 0 0 10px;

                .labels-wrap{
                    display: flex;
                    justify-content: space-between;
                    .label{
                        background-color: #B7E6FF;
                        border-radius: 20px;
                        color: $accent;
                        padding: 0.1rem .4rem;
                        display: flex;
                        align-items: center;
                        font-size: 10px;
                        font-weight: 500;

                        @include media-for (null, $tablet){
                            font-size: 9px;
                        }
                    }

                    .label-sale{
                        background-color: #FB9696;
                        padding: 0rem .3rem;

                        span{
                            position: relative;
                            background-color: $white;
                            border-radius: 50%;
                            width: 15px;
                            height: 15px;
                            display: block;
                            margin-right: .4rem;
                            &::before{
                                position: absolute;
                                content: '%';
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
                    }
                }
                .prices{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1.5rem 0 .5rem;

                    .new-price{
                        font-size: 20px;
                        font-weight: 600;
                        display: block;
                        text-align: center;
                        margin-right: .5rem;
                    }
                    .old-price{
                        font-size: 400;
                        font-size: 14px;
                        text-decoration: line-through;
                        display: block;
                        text-align: center;
                    }
                }
                a{
                    display: block;
                    margin: auto;
                    border: 1px solid $light-blue;
					color: $light-blue;
					border-radius: 8px;
                    padding: .2rem .7rem;
                    text-align: center;

                    &:hover{
                        border: 1px solid $white;
                        color: $white;
                        background-color: $light-blue;
                        transform: scale(1);
                        
                        svg{
                            path{
                                stroke: $white;
                            }
                        }
                    }
                }
            }

        }

    }

}